body{
	background: url('../bg1.jpg');
	background-size: cover;
	
}
/*sebelum text*/
.semi-footer {
    background-color: background-color: rgba(65, 71, 81, 0);
	margin-top: -20px;
	line-height:10;
}

/*content*/
.content {
	background-color: rgba(245, 245, 245, 0.5);
	font-size: 17px;
	line-height: 35px;
	
	
}
.content1{
    line-height: 1.428571;
	font-size:40px;
}
#utama{
    background-color: #242e3c;
	
}

.navbar-collapse{
	background-color:#cdd8e8;
	
}
.navbar{
	margin-bottom:0;
	font-size: 20;
}
.container-fluid {
    padding-right: 0px;
	padding-left: 0px;
}

.footer{
	font-size:15;
	background-color:#2fcbe0;
	line-height:4;
	margin-top: -20px;
	
}
.col-md-4{
	background:#242e3c;
}

}
.row{
	    background-color: #242e3c;
		margin-right: 0px;
		margin-left: 0px;
}
p{
	line-height:30px;
}

}
.col-md-2{
	background:blue;
}

ol{
    margin-top: -79px;
    margin-bottom: 38px;
}

.form-group{    
	line-height: 1.428571;
}

.jumbotron{
	background-color: rgba(238, 238, 238, 0);

}