body{
	background: url('../bg1.jpg');
	background-size: contain;
	overflow-x:hidden;
}
.semi-footer {
    background-color: background-color: rgb(38, 64, 67);
	margin-top: -20px;
	line-height:10;
}

.content {
	background-color: rgba(245, 245, 245, 0.8);
	font-size: 17px;
	line-height: 35px;
	
	
}
.content1{
    line-height: 1.428571;
	font-size:40px;
	background-color: rgba(245, 245, 245, 0.7);
}
#utama{
    background-color: rgb(38, 64, 67);
	
}

.navbar-collapse{
	background-color: #337ab7;
	
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
	border-bottom: 5px solid rgba(245,0,0,0);
	}
	
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    border-bottom: 5px solid #fff;
    background-color: #135287;
	transition:all 0.5s ease-in-out;
	
	}
.navbar{
	margin-bottom:0;
	font-size: 20;
}
.container-fluid {
    padding-right: 0px;
	padding-left: 0px;
}

.footer{
	font-size:15;
	line-height:4;
	margin-top:0px;
	margin-bottom:0px;
}
.col-md-6{
	background:rgb(38, 64, 67);
	
}

}
.col-md-12{
	background:#242e3c;
}

.col-md-3{
	background-color: rgba(255, 255, 255, 0.6);
}

.row{
	margin-right: 0px;
    margin-left: 0px;
	background-color: rgba(255, 255, 255, 0.7);
	padding-left:5px;
}
p{
	line-height:30px;
	
	}




ol{
    margin-top: -79px;
    margin-bottom: 38px;
}

.form-group{    
	line-height: 1.428571;
}

.jumbotron{
	background-color: rgba(238, 238, 238, 0);

}

.table{
	    background-color: white;
}

.row-1{
	
	background-color: rgba(255, 255, 255, 0.8);
	
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
	transition: all 0.5s ease-in-out;
    border-left: 4px solid black;
	border-right: 4px solid black;
	padding-right: 10px;
    margin-right: -10px;
	transform: scale(1.1) ;
	}

.glyphicon {
        top: 3px;
}
.form-horizontal {
    margin-bottom: -15px;
}


.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin-bottom: 0px;
}	

.btn-lg{   

     margin-bottom: 20px;
	
}
.col-sm-offset-2{
    margin-bottom: 20px;
}