body{
	background: url('../bg1.jpg');
	background-size:contain;

}
/*sebelum text*/
.semi-footer {
    background-color: background-color: rgba(65, 71, 81, 0);
	margin-top: -20px;
	line-height:10;
}

/*content*/
.content {
	background-color: rgba(245, 245, 245, 0.48);
	font-size: 17px;
    line-height: 1.428571;
	
}
.content1{
    line-height: 1.428571;
	font-size:40px;

}
#utama{
    background-color: #242e3c;
	
}

.navbar-collapse{
	background-color:#cdd8e8;
	
}
.navbar{
	margin-bottom:0;
	font-size: 20;
}
.container-fluid {
    padding-right: 0px;
	padding-left: 0px;
}

.footer{
	font-size:15;
	background-color:#2fcbe0;
	line-height:4;
	margin-top: -20px;
	
}
.col-md-4{
	background:#242e3c;
}

.row{
	    background-color: #242e3c;
		margin-right: 0px;
		margin-left: 0px;
}
p{
	line-height:30px;
}

}
.col-md-2{
	background:blue;
}

ol{
    margin-top: -79px;
    margin-bottom: 38px;
}


.form-control{
	width: 90%;
}	

td, th {
    padding: 0;
    font-size: 25;
}
h3 {
    font-size: 35;
}